Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.3
mock==2.0.0
nltk==3.2.4
numpy==1.14.0
pandas==0.20.3
pbr==4.2.0
protobuf==3.6.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
subprocess32==3.5.2
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0